@model SAP_Project.Models.PresentModels
@{
    ViewBag.Title = "GetFirstThreeCources";
}

<h2>GetFirstThreeCources</h2>

<table class="table">
    <tr>

        <th>
            Cources
        </th>
        <th>
            Number of Students
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Courses)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCourses.Count)
            </td>
        </tr>


    }

    

</table>

